.nav_list{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 124px;
}



a{
    text-decoration: none;
}







.parent{
    display: flex;
    justify-content: center;
    gap: 100px;

}

.box{
    background-color: red;
    width: 500px;
    height: 500px;
    color: wheat;
    justify-content: center;
    display: flex;
    align-items: center;
}


